<!DOCTYPE html>

<html lang="en" class="h-100">

{{>header}}

<body class="d-flex flex-column h-100">
	{{>navbar}}

	<main class="flex-shrink-0">
		<div class="container">
			<div class="bg-light p-5 rounded">
				<p>This site was created by {{name}}.</p>
				<p>It uses data from <a href="https://weatherstack.com/">weatherstack.com</a>.</p>
				<img class="portrait" src="images/image.jpg" />
			</div>
		</div>
	</main>

	{{>footer}}
</body>

</html>