<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Robert Gherlan. It uses data from <a
				href="https://weatherstack.com/">weatherstack.com</a>.</p>
		<img class="portrait" src="images/image.jpg" />
	</div>
	{{>footer}}
</body>

</html>